<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Burmese News.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>141244591B651DD600D8F100</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>141244701B651DD600D8F100</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1412447B1B651DD600D8F100</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
